body{
  background-color: #1c1d21 !important;
}
.button {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  transition-duration: 0.4s;
  text-decoration: none;
  }
.startButton{
  background-color: #fff4e9;
  border-radius: 25%;
  font-size:  35px !important;

}
.resetButton {
  background-color: #fff4e9;
  border-radius: 25%;
  font-size:  33px !important;
}
.red {
  background-color: #f3a2b1;
  border-color: #fdfffc;
}
.red:hover{
  background-color: #e0002b;
}
.redLightUp{
  background-color: #e0002b;
  border-radius: 50%;
  height: 175px;
  width: 175px;
}
.yellow {
  background-color: #faf9b5;
  border-color: #fdfffc;
}
.yellow:hover{
  background-color: #ccc802;
}
.yellowLightUp{
  background-color: #ccc802;
  border-radius: 50%;
  height: 175px;
  width: 175px;
}
.orange {
  background-color: #fcd5b1;
  border-color: #fdfffc;
}
.orange:hover{
  background-color: #f97800;
}
.orangeLightUp{
  background-color: #f97800;
  border-radius: 50%;
  height: 175px;
  width: 175px;
}
.blue {
  background-color: #a2d2e4;
  border-color: #fdfffc;
}
.blue:hover{
  background-color: #0085b5
}
.blueLightUp{
  background-color: #0085b5;
  border-radius: 50%;
  height: 175px;
  width: 175px;
}
.green {
  background-color: #abffa2;
  border-color: #fdfffc;
}
.green:hover{
  background-color: #19ff00
}
.greenLightUp{
  background-color: #19ff00;
  border-radius: 50%;
  height: 175px;
  width: 175px;
}
.gameScore, .highScore, .message {
  color: #fff4e9;
  font-size: 35px !important;
}
.message {
  {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
}
//need to create both a normal color class and a lightUp class for each button
